<nav class="navbar navbar-expand-lg navbar-light bg-light-gray">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="signinPage()">SignIn</button>
      </form>
    </div>
  </nav> <br> <br>



<div class="form" class="col-4 offset-4">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="UserName">UserName</label>
        <input type="text" class="form-control" formControlName="username"  placeholder="UserName">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" class="form-control" formControlName="password" placeholder="Password">
      </div>

      <div class="form-group">
        <label for="Password">Email-Id</label>
        <input type="text" class="form-control" formControlName="Email-Id" placeholder="Email-Id">
      </div>

      <div class="form-group">
        <label for="Password">Mobile-No</label>
        <input type="text" class="form-control" formControlName="mobile-No" placeholder="Mobile-No">
      </div>
       
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  <br> <br>



  <footer>
    <p>Author: Hege Refsnes<br>
    <a href="mailto:hege@example.com">hege@example.com</a></p>
  </footer>