

<nav class="navbar navbar-expand-lg navbar-light bg-light-gray">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="signinPage()">SignIn</button>
    </form>
  </div>
</nav> <br> <br>



<h3>Avialable Products List</h3> <br>

      
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">{{product.Name}}</a>
                  </h4>
                  <h5>{{product.price}}</h5>
                  <p style="color:chocolate;">{{product.Location}}</p>


                 


                  <div *ngIf="isqty; else loggedOut">
                    <p>Quantities:{{product.qty}}</p>
                  </div>
                  
                  <ng-template #loggedOut>
                    <input type="text" value="SoldOut">
                  </ng-template>

                  


                </div>
                <div class="card-footer">
                  <button (click)="addCart(product.id)" class="btn btn-success">Add to Cart</button>
                </div>
              </div>
            </div>
  
           

            </div>
  